.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 20px;
  .form-wrapper {
    border: solid;
    padding: 20px;
  }
  .form-control {
    margin-bottom: 20px;
  }
}
