.navbar-component {
  .navbar {
    box-shadow: 0 0 10px rgb(40, 112, 31);
  }

  .navbar-brand {
    color: #fff;
  }

  .icon {
    font-size: 1.5rem;
    color: rgb(138, 136, 136);
  }

  .icon:hover {
    color: rgb(75, 73, 73);
  }
}
